<div class="select-file-controls">
    <input type="file" (change)="onChange($event)">
    <span>{{ filename }} - {{ columnCount }} columns</span>
</div>
<div class="row-display-controls">
    <button (click)="loadMore(5)">Load 5 more rows</button>
    <button (click)="loadMore()">Load all rows</button>
    <span>{{ parsedCSV.length }} rows displayed</span>
</div>
<div class="mapping-preset-controls">
    <div class="preset-selection">
        <label for="mapping">Preset : </label>
        <select (change)="onMappingChange($event.target.value)" id="mapping">
            <option *ngFor="let v of mappingPreset" [value]="v.id">
                {{ v.id }} : {{ v.fields.length }}
                <ng-container *ngIf="v.fields.length > 1">columns</ng-container>
                <ng-container *ngIf="!v.fields.length">column</ng-container>
            </option>
        </select>
    </div>
    <div class="preset-modification">
        <button *ngIf="!mappingExists(currentMapping.id)" (click)="saveMapping()">Save as new mapping</button>
        <button *ngIf="mappingExists(currentMapping.id)" (click)="saveMapping()" class="button-overwrite">Overwrite
            mapping
        </button>
        <input type="number" [(ngModel)]="currentMapping.id" min="0">
        <!--        <input type="text" [value]="mappingSet.name">-->
    </div>
</div>

<div id="table-container">
    <table class="darkTable">
        <thead>
        <tr>
            <th *ngFor="let j of [].constructor(columnCount); let columnIndex = index"
                [class]="columnMappingStatus(columnIndex)">

                <div class="select-editable">
                    <select [(ngModel)]="currentMapping.fields[columnIndex]"
                            onchange="this.nextElementSibling.value=this.value.toString()">
                        <option value="unmapped">Col {{ columnIndex + 1 }} : Unmapped</option>
                        <option *ngFor="let field of FIELDS" [value]="field">{{ field }}</option>
                    </select>
                    <input type="text" name="format" [(ngModel)]="currentMapping.fields[columnIndex]"/>
                </div>
            </th>
        </tr>
        </thead>
        <tr *ngFor="let i of [].constructor(rowCount); let rowIndex = index;">
            <td *ngFor="let j of [].constructor(columnCount); let columnIndex = index">
                {{ parsedCSV[rowIndex][columnIndex] }}
            </td>
        </tr>
    </table>
</div>
