#table-container {
    width: 100%;
    max-height: 400px;
    overflow: auto;
    white-space: nowrap;
    margin: 20px 0 0;
    padding: 0 5px;
}

/* Generator */
table.darkTable {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 2px solid #000000;
    background-color: #4A4A4A;
    text-align: center;
    border-collapse: collapse;
}

table.darkTable td, table.darkTable th {
    border: 1px solid #4A4A4A;
    padding: 3px 2px;
}

table.darkTable tbody td {
    font-size: 13px;
    color: #E6E6E6;
}

table.darkTable tr:nth-child(even) {
    background: #888888;
}

table.darkTable thead {
    background: #000000;
    border-bottom: 3px solid #000000;
}

table.darkTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 2px solid #4A4A4A;
}

table.darkTable thead th:first-child {
    border-left: none;
}

table.darkTable tfoot {
    font-size: 12px;
    font-weight: bold;
    color: #E6E6E6;
    background: #000000;
    background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
    border-top: 1px solid #4A4A4A;
}

table.darkTable tfoot td {
    font-size: 12px;
}

/* https://divtable.com/table-styler/ */

.select-editable {
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 120px;
    height: 18px;
}

.select-editable select {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    border: none;
    width: 120px;
    margin: 0;
}

.select-editable input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    padding: 1px;
    font-size: 12px;
    border: none;
}

.select-editable select:focus,
.select-editable input:focus {
    outline: none;
}


table {
    min-width: 100%;
}

table td {
    min-width: 100px;
}

table.darkTable thead {
    position: sticky;
    top: 0;
}

table.darkTable thead th {
    font-size: 12px;
}

table.darkTable thead th.valid-mapping .select-editable input {
    /*background-color: rgb(0, 128, 0);*/
    background-color: rgb(184, 245, 184);
}

table.darkTable thead th.unknown-mapping .select-editable input {
    background-color: rgb(255, 232, 191);
}

table.darkTable thead th.unmapped .select-editable input {
    background-color: rgb(255, 179, 153);
}

table.darkTable thead th.no-index .select-editable input {
    background-color: rgb(255, 153, 153);
}


.row-display-controls, .mapping-preset-controls, .select-file-controls, .preset-modification, .preset-selection {
    display: flex;
    align-items: center;
}

.row-display-controls > *, .preset-modification > *, .preset-selection > *, .select-file-controls > * {
    margin: 10px;
}

.mapping-preset-controls {
    justify-content: space-between;
}

.preset-modification input[type="number"] {
    width: 50px;
}

button.button-overwrite {
    color: orangered;
}
